//- Copyright 2015, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

doctype html
html(lang="en")
  head
    title Bookshelf - Node.js on Google Cloud Platform
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")

    // You can use open graph tags to customize link previews.
    // Learn more: https://developers.facebook.com/docs/sharing/webmasters
    meta(property="og:url",content="http://www.reliable.report/facebook/friends/me")
    meta(property="og:type",content="website")
    meta(property="og:title",content="My Facebook Friends")
    meta(property="og:description",content="Some desc")
    meta(property="og:image",content="http://s3.aws.amazon.com")

    block js
      script(src='//www.google.com/jsapi')
      script(src='/js/lodash.min.js')
      script(src='/js/Facebook.js')


      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand Мої друзі на Facebook

        ul.nav.navbar-nav
          li
            a(href="/books") Books
          li
            a(href="/books/mine") My Books

        p.navbar-text.navbar-right
          if profile
            if profile.image
              img.img-circle(src=profile.image.url, width=24)
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)
          else
            a(href=login) Login

    .container
      block content
